.similar
    .outer
        .inner
            .detail__similar
                h2 Похожие товары
                .products__list.products__list_square 
                    a(href="#").product__item
                        .product__img
                            img(src="./images/pic1.jpg" alt="URANOL ТИТАН 6090")
                            .product__label популярное
                        .product__content
                            .product__content-text
                                .product__seria Серия EPANOL
                                .product__title URANOL ТИТАН 6090
                                p Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации форм развития.
                                    span Высокоструктурированное толстостенное покрытие
                    a(href="#").product__item
                        .product__img
                            img(src="./images/pic2.png" alt="URANOL ТИТАН 6090")
                        .product__content
                            .product__content-text
                                .product__seria Серия EPANOL
                                .product__title Грунтовка
                                p Грунтовка  - высоструктурированное толстослойное покрытие с высоким сухим остатком и быстрым временем сушки для защиты стальных поверхностей. 
                                    span Грунт-эмаль
                    a(href="#").product__item
                        .product__img
                            img(src="./images/pic2.png" alt="URANOL ТИТАН 6090")
                        .product__content
                            .product__content-text
                                .product__seria Серия EPANOL
                                .product__title Грунтовка
                                p Грунтовка  - высоструктурированное толстослойное покрытие с высоким сухим остатком и быстрым временем сушки для защиты стальных поверхностей. 
                                    span Грунт-эмаль
                    a(href="#").product__item
                        .product__img
                            img(src="./images/pic1.jpg" alt="URANOL ТИТАН 6090")
                            .product__label популярное
                        .product__content
                            .product__content-text
                                .product__seria Серия EPANOL
                                .product__title URANOL ТИТАН 6090
                                p Разнообразный и богатый опыт рамки и место обучения кадров способствует подготовки и реализации форм развития.
                                    span Высокоструктурированное толстостенное покрытие
                    a(href="#").product__item
                        .product__img
                            img(src="./images/pic2.png" alt="URANOL ТИТАН 6090")
                        .product__content
                            .product__content-text
                                .product__seria Серия EPANOL
                                .product__title Грунтовка
                                p Грунтовка  - высоструктурированное толстослойное покрытие с высоким сухим остатком и быстрым временем сушки для защиты стальных поверхностей. 
                                    span Грунт-эмаль