.catalog {
    padding-top: 36px;
}
.catalog__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    @media (min-width: 992px) {
        grid-template-columns: 240px 1fr;
    }
}
.catalog__top {
    padding-bottom: 32px;
    border-bottom: 1px solid #CFD7DA;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


