.btn {
    background: #FF001A;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 19px 28px;
    border: none;
    height: fit-content;
    width: fit-content;
    transition: .4s;
    &:hover {
        background: white;
        color: #FF001A;
    }
}