.btn {
    display: block;
    background: #FF001A;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 15px;
    width: 100%;
    border: none;
    height: fit-content;
    transition: .4s;
    text-align: center;
    justify-content: center;
    &_black {
        background: #191C1F;
    }
    &_white {
        border: 1px solid #000000;
        background: white;
        color: #191C1F;
        &:hover {
            border: 1px solid #FF001A;
        }
    }
    @media (min-width: 576px) {
        padding: 15px 28px;
        width: fit-content;
    }
    @media (min-width: 768px) {
        padding: 19px 28px;
        font-size: 16px;
    }
    &:hover {
        background: white;
        color: #FF001A;
    }
}