section.russia 
    .outer 
        .inner 
            .russia__container 
                .russia__map 
                    p 1870
                    p зарубежных ЛКМ<br>ушло с Российского рынка
                .russia__content 
                    h2 
                        span Подберем 
                            +icon('search')
                        | аналоги зарубежных лкм
                    p 
                        +icon('flag') 
                        | Сделано в России
                    ul
                        li Стабильные и регулярные поставки продукции
                        li Разумные и доступные цены
                        li Гарантии качества
                    +btn('Импортозамещение','',true).btn_white