.welcome
    .outer 
        .inner
            .welcome__content
                h1.welcome__title Производство антикоррозийных материалов
                p.welcome__text Компания ООО ПК "АНОЛ-СИНТЕЗ" производит инновационные материалы, обеспечивающие надежную защиту и долговечность объектов промышленного и гражданского строительства
                +btn('Смотреть каталог','',true).welcome__link