section.questionnaire
    .outer 
        .inner 
            .questionnaire__container 
                .questionnaire__content
                    +icon('check-list')
                    h2 ОПРОСНЫЙ ЛИСТ
                    p Форма индивидуального подбора материала
                    +btn('Подобрать материал', 'checklist').btn_black
                    +checkbox('Я выражаю свое согласие с Политикой конфиденциальности сайта и разрешаю обработку своих персональных данных', 'checklisttrue')
                img(src='./images/canister.png' "Ведро")