@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-arr {
    width: math.div(13, 25) * 1em;
}
.icon-canister {
    width: math.div(540, 579) * 1em;
}
.icon-check-list {
    width: math.div(58, 58) * 1em;
}
.icon-dropdown {
    width: math.div(6, 4) * 1em;
}
.icon-flag {
    width: math.div(29, 29) * 1em;
}
.icon-icon-logistica {
    width: math.div(29, 28) * 1em;
}
.icon-icon-search {
    width: math.div(29, 29) * 1em;
}
.icon-icon-service {
    width: math.div(34, 34) * 1em;
}
.icon-icon-shield {
    width: math.div(31, 31) * 1em;
}
.icon-icon1 {
    width: math.div(27, 31) * 1em;
}
.icon-inst {
    width: math.div(33, 33) * 1em;
}
.icon-logo {
    width: math.div(165, 110) * 1em;
}
.icon-more-arr {
    width: math.div(8, 8) * 1em;
}
.icon-phone {
    width: math.div(21, 20) * 1em;
}
.icon-search {
    width: math.div(22, 22) * 1em;
}
.icon-search-icon {
    width: math.div(25, 24) * 1em;
}
.icon-telegram {
    width: math.div(32, 33) * 1em;
}
.icon-up {
    width: math.div(25, 24) * 1em;
}
.icon-viber {
    width: math.div(33, 36) * 1em;
}
.icon-vk {
    width: math.div(33, 33) * 1em;
}
.icon-whatsapp {
    width: math.div(32, 33) * 1em;
}
.icon-youtube {
    width: math.div(33, 33) * 1em;
}
