include ../../mixins/pug/svg-icon
include ../../mixins/pug/modal
include ../../mixins/pug/input
include ../../mixins/pug/select
include ../../mixins/pug/btn
include ../../mixins/pug/social
//- include ../../components/slider/slider

block variables
    -
        var baseDir = './';

doctype html
html(lang="ru")
    //- Include head
    include ./head

    body(class=pageClass)
        include ../../components/header/header   
             
        main.main
            block about 
            block uslugi
            block detail
            block catalog 
            block catalog-links
            block benefits
            block industries
            block questionnaire
            block similar
            block russia
            block answer
            block textblock
        //- if (pageClass === 'action')
        //-     .outer(style="margin-top: 32px;")
        //-         .inner
        //-             nav.breadcrumbs
        //-                 ul.breadcrumbs__list
        //-                     li
        //-                         a(href="/") Главная
        //-                         span.breadcrumbs__divider \
        //-                     li.is-active #{title}
        //- block single 
        //- block cart
        //- block actual
        //- block blog 
        //- block filter-mobil
        //- block detail
        //- if (pageClass !== 'homepage' && pageClass !== 'action')
        //-     .outer
        //-         .inner
        //-             .wrapper
        //-                 main
        //-                     if (notBreadcrumbs)
        //-                         nav.breadcrumbs
        //-                             ul.breadcrumbs__list
        //-                                 li
        //-                                     a(href="/") Главная
        //-                                     span.breadcrumbs__divider \
        //-                                 li.is-active #{title}
        //-                     block detailTabs
        //-                     block accessories
        //-                     block also 
        //-                     block product
        //-                     block links
        //-                     block article
        //-                     block advantages
        //-                     block form
        //-                     block feedback
        //-                     block company
        //-                     block question
        //-                 aside
        //-                     block filter 
        //-                     block menu
        //-                     block asideform
        //-                     block asideuseful
        //-                     block asideformSubscribe
        //- else
        //-     main
        //-         block category
        //-         block advantages
        //-         block links
        //-         block aboutdpk
        //-         block ourwork
        //-         block videomessage
        //- Include footer
        include ../../components/footer/footer
        include ../../components/modal/modal
        
        a.go-top.go-top--js(href='#')
            +icon('up')
            
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prettyPhoto/3.1.6/js/jquery.prettyPhoto.min.js" integrity="sha512-IB7NSySDRedVEsYsOVuzN5O5jwRjV2ewVVmkDFIgE0yNu11GreBCOMv07i7hlQck41T+sTXSL05/cG+De4cZDw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js")
        
        script(src=`${baseDir}js/main.js`)

        block script
