.about.about_svg
    .about__content
        .about__brand 
            +icon('flag')
            | Сделано в России
        p.about__subtitle Основным направлением деятельности является создание инновационных материалов, обеспечивающих надежную защиту и долговечность объектов промышленного и гражданского строительства.
        .about__text 
            p Высокотехнологичное оснащение позволяет составлять достойную конкуренцию ведущим мировым лидерам в области производства противокоррозионных покрытий.
            p На всех этапах производства продукция марки ANOL® проходит контроль качества, который включает в себя входной контроль качества сырья, операционный контроль на всех стадиях производства и приемо-сдаточные испытания готовой продукции. Так же гарантией качества и стабильности свойств продукции служит использование сырья от известных во всем мире химических концернов.
            p Собственные лаборатории компании помогают проводить проверки каждого производственного этапа, чтобы своевременно исключать брак. Лабораторные комплексы позволяют глубоко сосредоточиться на поиске новых решений и технологий для изготовления составов, способных удовлетворить возрастающие требования.
    .about__img
        img(src="./images/about2.jpg" alt="Разработка и производство антикоррозионных, огнезащитных, термостойких, гидроизоляционных покрытий")
        .about__img-caption 
            +icon('sot')
            p Разработка и производство антикоррозионных, огнезащитных, термостойких, гидроизоляционных покрытий
