.about
    .about__content
        .about__brand 
            +icon('flag')
            | Сделано в России
        h3.about__title Антикоррозийные материалы для нефтяной промышленности
        p.about__subtitle Мы разработали уникальные по своим свойствам материалы, которые полностью заменяют импортные аналоги
        p.about__text Нефтегазовая промышленность отличается большим разнообразием этапов производства и оборудования. В нефтегазовой отрасли металлоконструкции подвержены агрессивному воздействию со стороны промышленной атмосферы, нефти и нефтепродуктов, минерализованной воды, солнечной радиации, перепадов температур. 
        ul 
            li 
                +icon('shield')
                | Гарантия на материалы
                span гарантируем высокое качество материалов
            li 
                +icon('sear')
                | 100% импортозамещение
                span подберем замену любому импортному покрытию
            li 
                +icon('time')
                | Оперативная логистика
                span оперативно обрабатываем и доставляем заказы
        .about__bottom 
            .about__file
                a(href="#" target="_blank" download).file
                    img(src="./images/pdf.png" alt="pdf")
                    p Техническая спецификация URANOL ТИТАН 6090 
                        span PDF 230кб
            .about__buttons 
                +btn('Смотреть материалы', '')
                button(data-id="message" data-modal="true").help
                    +icon('chat')
                    | помощь специалиста
    img(src="./images/about.jpg" alt="Антикоррозийные материалы для нефтяной промышленности")
