.about
    .about__content
        .about__brand 
            +icon('flag')
            | Сделано в России
        h3.about__title Разработка уникальных рецептур под ТЗ заказчика
        p.about__subtitle Техническое задание используется в машиностроении, производстве и бизнесе для того, чтобы поставщики, покупатели и пользователи материалов
        .about__text 
            p Совместная работа специалистов испытательной лаборатории и технологов производства позволяет решать задачи создания новых продуктов и технологий, с циклом постоянного совершенствования.
        ol 
            li Индивидуальный подход к требованиям заказчика при разработке любого продукта, 
            li Объема и сроков производства, а также коммерческих условий - является основным 
        ul(style="border-bottom: unset;") 
            li 
                +icon('sota')
                | 100% уникальность
                span подберем замену любому импортному покрытию
        +btn('Получить консультацию', '')
    .about__img
        img(src="./images/about1.jpg" alt="Разработка уникальных рецептур под ТЗ заказчика")
