.titleblock
    .outer 
        .inner 
            nav.breadcrumbs
                ul.breadcrumbs__list
                    li
                        a(href="/") Главная
                        span.breadcrumbs__divider \
                    li.is-active #{title}
            h1 #{title}