// .header {
//     z-index: 4;
//     position: relative;
// }
.header__content {
    grid-area: header;
    min-height: 510px;
    overflow: hidden;
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        min-height: 855px;
    }
    &::after {
        content: '';
        position: absolute;
        background: linear-gradient(180deg, #050816 2.65%, rgba(5, 8, 22, 0) 136.84%), linear-gradient(0deg, #26232E 1.74%, rgba(5, 8, 22, 0) 27.06%), var(--bg-1, none) center;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
.header.is-active {
    background: white;
    .header__menu-container {
        transform: translateX(0);
    }
    .header__mobil {
        svg {
            fill: black;
        }
    }
    .menu__list {
        color: #191C1F;
        svg {
            fill: #191C1F;
        }
        & > a {
            color: #191C1F;
            &:hover {
                color: #FF001A;
            }
        }
    }
}
.header__menu-container {
    display: grid;
    grid-area: menu;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav" "btns";
    transform: translateX(-100%);
    transition: .4s;
    position: fixed;
    background: white;
    left: 0;
    top: 89px;
    padding: 0 27px;
    padding-top: 21px;
    width: 100%;
    overflow: auto;
    height: calc(100vh - 87px);
    max-width: 768px;
    @media (min-width: 1500px) {
        max-width: unset;
        height: auto;
        overflow: unset;
        position: unset;
        background: unset;
        transform: unset;
        transition: unset;
        grid-template-columns: 220px 1fr 22px;
        grid-template-rows: 100px 62px;
        column-gap: 20px;
        grid-template-areas: "logotext btns btns" "nav nav search";
    }
}
  
.header__container {
    display: grid;
    width: 100%;
    grid-template-columns: 92px 1fr;
    gap: 20px;
    grid-template-rows: 70px 1fr;
    grid-template-areas: "logo mobilmenu" "menu menu";
    justify-content: space-between;

    @media (min-width: 1500px) {
        grid-template-columns: 223px 1fr;
        grid-template-rows: 162px;
        column-gap: 42px;
        grid-template-areas: "logo menu";
    }
}
.header__mobil {
    grid-area: mobilmenu;
    display: flex;
    align-items: center;
    max-width: 175px;
    margin-left: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    @media (min-width: 1500px) {
        display: none;
    }
    & > a:not(.hamburger) {
        display: block;
        color: white;
        
        &:hover {
            svg {
                fill: #FF001A;
            }            
        }
        svg {
            width: 22px;
            height: 22px;
            fill: white;
            transition: .4s;
            @media (min-width: 1500px) {
                display: none;
            }
        }
    }
}
.header__social {
    order: 2;
    @media (min-width: 1500px) {
        order: 1;
    }
}
.header__btn{
    order: 3;
    @media (max-width: 1500px) {
        margin-top: 37px;
    }
}
.header__search {
    display: flex;
    align-items: center;
}
.header__contacts {
    color: #191C1F;
    padding-top: 29px;
    padding-bottom: 29px;
    border-top: 1px solid #E7ECF1;
    order: 1;
    @media (min-width: 1500px) {
        color: white;
        border-top: unset;
        padding-bottom: unset;
        padding-top: unset;
        order: 2;
    }
    a {
        display: block;
        color: inherit;

        p {
            display: block;
            font-weight: 700;
            font-size: 22px;
            margin: 0;
            padding: 0;
        }
        &:last-child {
            display: block;
            font-weight: 600;
            font-size: 15px;
        }
        transition: .4s;
        &:hover {
            color: #FF001A;
        }
    }
}
.header__logo-text {
    grid-area: logotext;
    display: none;
    @media (min-width: 1500px) {
        max-width: 220px;
        display: flex;
        align-items: center;        
    }
}
.header__btns {
    grid-area: btns;
    display: flex;
    gap: 10px;
    flex-direction: column;
    
    max-width: 733px;
    width: 100%;
    @media (min-width: 1500px) {
        margin-left: auto;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;    
    }
}
.header__menu {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    @media (min-width: 1500px) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        &::after {
            content: '';
            position: absolute;
            width: 100vw;
            height: 1px;
            left: 0;
            top: 0;
            background: #414951;
        }
    }
}
