.textblock 
    .outer 
        .inner 
            .textblock__container 
                .textblock__left 
                    p 
                        strong Промышленного назначения, применяемые во многих областях промышленности: 
                    p ПГС (промышленно-гражданское строительство), мостостроение, нефтяная, газовая и химическая промышленность, телекоммуникации и связь, машиностроение,
                .textblock__right 
                    p Быстросохнущие, толстослойные, тиксотропные, материалы с возможностью нанесения при отрицательной температуре, а также материалы для различных поверхностей таких как металл, бетон, железобетон, оцинковка, алюминий и тд.