*,
*::before,
*::after {
	box-sizing: border-box;
}	

p {
	margin: 0;
}
	
	
a {
	text-decoration: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}	

.outer {
	padding-left: 24px;
	padding-right: 24px;
}
	
.inner {
	max-width: 1640px;
	margin-left: auto;
	margin-right: auto;
}
	
body {
	min-width: 320px;
	overflow: auto;
	z-index: 100;
	color: #191C1F;
	background: linear-gradient(180deg, #050816 2.65%, rgba(5, 8, 22, 0) 136.84%), linear-gradient(0deg, #26232E 1.74%, rgba(5, 8, 22, 0) 27.06%), rgba(5, 8, 22, 1);

	// overflow: hidden;
	&.is-active {
		overflow: hidden;
	}
}

html {
	font-size: 12px;

	@media (min-width: 768px) {
		font-size: 16px;
	}
}	

html, body {

}
body {
	/* Временно для сетки */
	// background-image: url('../images/index.jpg');
	// background-size: 1900px auto;
	// background-repeat: no-repeat;
	// background-position: top center;
}

.page {
	display: grid;
	grid-template-rows:
		auto
		1fr
		auto;
	grid-template-areas:
		"header"
		"content"
		"footer";
	min-height: 100vh;

}
  