.industries
    .outer 
        .inner 
            h2 отрасли применения
            .industries__slider.industries__slider-js 
                .industries__swiper.swiper-wrapper
                    .industries__slide.swiper-slide 
                        img(src="./images/otrasli/mostostroenie.jpg" alt="Мостостроение")
                        .industries__slide-content
                            .industries__label более 16 вариантов
                            h3.industries__title Мостостроение
                        .industries__slide-hover
                            p.industries__desc Нефтегазовый комплекс — обобщённое название группы
                            +btn('Подробная информация','',true)
                    .industries__slide.swiper-slide 
                        img(src="./images/otrasli/neftandgaz.jpg" alt="Нефтяная и газовая промышленность")
                        .industries__slide-content
                            .industries__label более 20 вариантов
                            h3.industries__title Нефтяная и газовая промышленность
                        .industries__slide-hover
                            p.industries__desc Нефтегазовый комплекс — обобщённое название группы
                            +btn('Подробная информация','',true)
                    .industries__slide.swiper-slide 
                        img(src="./images/otrasli/stroit.jpg" alt="Промышленно-гражданское строительство")
                        .industries__slide-content
                            .industries__label более 16 вариантов
                            h3.industries__title Промышленно-гражданское строительство
                        .industries__slide-hover
                            p.industries__desc Нефтегазовый комплекс — обобщённое название группы
                            +btn('Подробная информация','',true)
                    .industries__slide.swiper-slide 
                        img(src="./images/otrasli/him.jpg" alt="Химическая промышленность")
                        .industries__slide-content
                            .industries__label более 19 вариантов
                            h3.industries__title Химическая промышленность
                        .industries__slide-hover
                            p.industries__desc Нефтегазовый комплекс — обобщённое название группы
                            +btn('Подробная информация','',true)
                    .industries__slide.swiper-slide 
                        img(src="./images/otrasli/telecom.jpg" alt="Телекоммуникации и связь")
                        .industries__slide-content
                            .industries__label более 25 вариантов
                            h3.industries__title Телекоммуникации и связь
                        .industries__slide-hover
                            p.industries__desc Нефтегазовый комплекс — обобщённое название группы
                            +btn('Подробная информация','',true)
                    .industries__slide.swiper-slide 
                        img(src="./images/otrasli/mashin.jpg" alt="Машиностроение")
                        .industries__slide-content
                            .industries__label более 25 вариантов
                            h3.industries__title Машиностроение
                        .industries__slide-hover
                            p.industries__desc Нефтегазовый комплекс — обобщённое название группы
                            +btn('Подробная информация','',true)