.catalog-links
    ul.catalog-links__list
        li.catalog-links__item
            img(src="./images/link1.jpg" alt="Лакокрасочные материалы").catalog-links__img
            .catalog-links__label более 20 вариантов
            h3.catalog-links__title Лакокрасочные материалы
            .catalog-links__button
                p Нефтегазовый комплекс — обобщённое название группы 
                +btn('В каталог', '', 'true')
        li.catalog-links__item
            img(src="./images/link2.jpg" alt="Сырье").catalog-links__img
            .catalog-links__label более 12 вариантов
            h3.catalog-links__title Сырье
            .catalog-links__button
                p Комплекс — обобщённое название группы 
                +btn('В каталог', '', 'true')
        li.catalog-links__item
            img(src="./images/link3.jpg" alt="Прочее").catalog-links__img
            .catalog-links__label более 8 вариантов
            h3.catalog-links__title Прочее
            .catalog-links__button
                p Нефтегазовый обобщённое название группы 
                +btn('В каталог', '', 'true')