extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Полезный блог'
    - var pageClass = ''
    - var menuHref = '/'

block blog
    .blog
        .outer 
            .inner 
                ul.blog__tag 
                    li._active
                        a(href="#") Все
                    li 
                        a(href="#") Нефтяная промышленность
                    li 
                        a(href="#") Химическая промышленность
                    li 
                        a(href="#") Энергетика
                    li 
                        a(href="#") Транспортное строительство
                    li 
                        a(href="#") Транспортное и гражданское строительство
                ul.blog__list 
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art1.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title Подготовка металлической поверхности для антикоррозионной краски. Что нужно обязательно учесть?
                            .blog__text Долговечность и надежность антикоррозионного покрытия напрямую связаны ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art2.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title Подготовка бетона к нанесению лакокрасочного покрытия.
                            .blog__text Для долговременной защиты бетона и предания ему определенных декоративных качеств ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art3.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title Правильный подбор системы окраски
                            .blog__text Поскольку существует много разных видов металлических покрытий, то и различных факторов ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art4.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title Способы защиты от коррозии и их сравнение
                            .blog__text Коррозия ежегодно приносит людям огромные убытки. Поэтому, как только человек начал использовать ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art5.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title По каким критериям выбирают антикоррозийное покрытие в промышленности
                            .blog__text Если для металлических изделий в личном пользовании мы можем купить любое антикоррозийное ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art6.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title Все, что вы хотели знать об антикоррозии
                            .blog__text Мы проанализировали вопросы пользователей интернета об антикоррозии и решили собрать ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art7.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title Способы защиты от коррозии и их сравнение
                            .blog__text Коррозия ежегодно приносит людям огромные убытки. Поэтому, как только человек начал использовать ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art8.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title По каким критериям выбирают антикоррозийное покрытие в промышленности
                            .blog__text Если для металлических изделий в личном пользовании мы можем купить любое антикоррозийное ...
                    li
                        a(href='#') 
                            .blog__img
                                img(src='./images/art9.jpg' alt="")
                            .blog__date Опубликовано 02 Февраля 2022
                            .blog__title Все, что вы хотели знать об антикоррозии
                            .blog__text Мы проанализировали вопросы пользователей интернета об антикоррозии и решили собрать ...


block answer
    include ./components/answer/answer

block textblock
    include ./components/textblock/textblock