extends base/pug/base
//- include ./components/slider/slider
//- include ./components/links/links

append variables
    - var title = 'Наши услуги'
    - var pageClass = ''
    - var menuHref = '/'

block about 
    include ./components/about/about1
    div(style="margin-bottom: 20px;")
block uslugi
    include ./components/uslugi/uslugi
    
block russia
    include ./components/russia/russia

block answer
    include ./components/answer/answer

block textblock
    include ./components/textblock/textblock