section.answer
    .outer 
        .inner 
            .answer__container
                .answer__title Ответим на все ваши вопросы
                .answer__buttons 
                    a(href="tel:88002505063") 8 (800) 250-50-63
                    +btn('Помощь спецалиста', 'callme').btn_black
