.benefits
    ul 
        li 
            +icon('icon1')
            .benefits__content
                p Разработка рецептур под ТЗ заказчика 
                a(href="#") 
                    p подробнее
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1L1 7M2 1H7V6" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        li 
            +icon('icon-search')
            .benefits__content
                p 100% импортозамещение 
                a(href="#") 
                    p подробнее
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1L1 7M2 1H7V6" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        li 
            +icon('icon-shield')
            .benefits__content
                p Стабильное качество реализуемой продукции 
                a(href="#") 
                    p подробнее
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1L1 7M2 1H7V6" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        li 
            +icon('icon-logistica')
            .benefits__content
                p Оперативная логистика
                a(href="#") 
                    p подробнее
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1L1 7M2 1H7V6" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
        li 
            +icon('icon-service')
            .benefits__content
                p Технический сервис
                a(href="#") 
                    p подробнее
                    <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1L1 7M2 1H7V6" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>